<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>Dashboard</title>
</head>

<body>
  <main>
    <h1>Benvenuto {{.}}!</h1>
    <a href="/logout">LOGOUT</a>
  </main>
</body>

</html>