{{define "content"}}

<h1>Benvenuti nel templating di GO</h1>
<main>
  {{template "partial" .}}
  <form action="/check-form" method="POST" enctype="multipart/form-data">
    <input type="text" name="fname" autofocus autocomplete="off" placeholder="Il tuo nome">
    <input type="file" name="file">
    <input type="submit" value="Invia">
  </form>
</main>
{{end}}