{{define "content"}}
<h1>Login</h1>
<main>
  <form method="POST" novalidate>
    <input type="email" name="email" placeholder="Email" autofocus />
    {{with .Errors.Email}}
    <p>{{.}}</p>
    {{end}}
    <input type="password" name="password" placeholder="Password" />
    {{with .Errors.Password}}
    <p>{{.}}</p>
    {{end}}
    <label>
      Ricordami
      <input type="checkbox" name="remember" value="remember" />
    </label>
    <input type="submit" value="Entra" />
  </form>
</main>
{{end}}
