{{define "partial"}}
<div style="border: 1px solid grey; margin-bottom: 20px;">
  <h2>Io sono un partial</h2>
  <ul>
    {{range .}}
    {{/* (questo è un commento): pipeline delle funzioni di trasformazione create e passate al template */}}
    {{/* si possono usare anche i metodi di una struttura semplicemente con | .Metodo */}}
    <li>{{. | uppercase | firstThree}}</li>
    {{end}}

  </ul>
</div>
{{end}}