{{define "content"}}
<main class="px-4">
  <div class="container mx-auto">
    <h1 class="title is-1 has-text-centered">Crea utente</h1>
    <form method="POST" novalidate class="box">
      <input type="text" name="name" autofocus placeholder="Nome" />
      {{with .Errors.Name}}
      <p>{{.}}</p>
      {{end}}
      <input type="text" name="surname" placeholder="Cognome" />
      {{with .Errors.Surname}}
      <p>{{.}}</p>
      {{end}}
      <input type="email" name="email" placeholder="Email" />
      {{with .Errors.Password}}
      <p>{{.}}</p>
      {{end}}
      <input type="password" name="password" placeholder="Password" />
      {{with .Errors.Password2}}
      <p>{{.}}</p>
      {{end}}
      <input
        type="password"
        name="password2"
        placeholder="Password di conferma"
      />
      <input type="submit" value="Crea" />
    </form>
  </div>
</main>
{{end}}
